@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-mont: "Montserrat", serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--font-mont);
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;

  nav {
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    #logo {
      font-weight: 600;
      font-size: 1.2em;
      letter-spacing: -1px;
      text-decoration: none;
      color: inherit;

      display: flex;
      gap: 0.2em;

      #outer {
        display: flex;
        overflow: hidden;

        white-space: nowrap;
      }
    }

    ul {
      list-style: none;
      display: flex;
      gap: 3rem;

      li {
        font-weight: 600;
        font-size: 1.1em;

        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}

section {
  width: 100%;
  min-height: 100vh;

  .content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem 0;
  }

  .content-heading {
    font-size: 3em;
    max-width: 495px;
    margin: 2rem 0;
  }

  .content-para {
    max-width: 980px;
    font-size: 1.5em;
  }
}

#hero {
  overflow-x: hidden;
  display: flex;
  align-items: end;
}

.hero-heading {
  font-size: 12rem;
  font-weight: 500;
  white-space: nowrap;
  transition: linear;
}

#about {
  padding: 3vw 5vw;
}

#work {
  padding: 3vw 5vw;
}

.recent-work {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 1rem;
}

.recent-work h4 {
  font-size: medium;
  opacity: 0.5;
  margin-top: 10rem;
}

.recent-work .row-container {
  display: flex;
  flex-direction: column;

  padding: 3rem 0;
}

.recent-work .row-container .row {
  border-top: 1px solid #343434;

  width: 100%;
  padding: 3rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    font-size: 4em;
    font-weight: 500;
  }
}
.recent-work .row-container .row:nth-last-child(1) {
  border-bottom: 1px solid #343434;
}

.recent-work .btn-container {
  display: grid;
  place-items: center;
}

.recent-work .show-more-btn {
  padding: 1rem 2rem;
  border-radius: 50px;
  outline: none;
  border: 1px solid #878787;
  background-color: transparent;
  color: #878787;

  font-weight: 500;
  cursor: pointer;
  transition: all ease 300ms;
}

.recent-work .show-more-btn:hover {
  background-color: #878787;
  color: #fff;
}

#gallary {
  display: grid;
  place-items: center;
}

.gallary-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
}

.gallary-container .gallary-row {
  display: flex;
  align-items: center;
  transform: translate(-5%);
}

.gallary-row.row-2 {
  transform: translate(5%);
}

.gallary-card {
  width: 25vw;
  aspect-ratio: 6/5;
  /* border: 1px solid; */
  flex-shrink: 0;
  padding: 1rem;
}

.gallary-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
